<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>reach me via email :
        </p>
        <a class="email-a" href="mailto:yousefelmesalamy@gmail.com">
            <p class="email">yousefelmesalamy@gmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/yousefelmesalamy/" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/yosef-elmesalamy-333057222/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/yosefelmesalame//" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>