<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            hey! my
            name is</p>
        <div class="name">
            <p class="p-name">Yosef Elmesalamy<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">i'm a Software Engineer human from Egypt, A man who loves problem solving.</p>
            <p class="p-second">i'm currently working as Full Stack Developer<a
                    href="https://www.cloudev-solutions.com/">cloudev-solutions</a>. you can
                find my <a href="https://drive.google.com/file/d/11HDYDwxSKUyBTFi97ENPH-FkkpHw4kTR/view?usp=sharing">resume here</a>.</p>
            <p class="p-third">
        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>
